.img1{
    background-image: url('../../assets/images/1.jpg');
}
.img2{
    background-image: url('../../assets/images/7.jpg');
}
.img3{
    background-image: url('../../assets/images/2.jpg');
}
.img4{
    background-image: url('../../assets/images/5.jpg');
}